<div id="levels">
<div id="levels_latest" class="levels_column">
  <h2>Latest Levels</h2>
 <% @levels_latest.each do |level| %>
  <div class="level">
    <p><%= level.created_at.to_formatted_s(:short) %></p>
    <%= link_to image_tag(level.icon.url, border: 1, class: "level_img"), level %>
    <p><%= level.plays %> plays</p>
  </div>
 <% end %>
</div>
<div id="levels_popular" class="levels_column">
  <h2>Popular Levels</h2>
 <% @levels_popular.each do |level| %>
  <div class="level">
    <p><%= level.created_at.to_formatted_s(:short) %></p>
    <%= link_to image_tag(level.icon.url, border: 1, class: "level_img"), level %>
    <p><%= level.plays %> plays</p>
  </div>
 <% end %>
</div>
</div>

<% if false %>

<table>
  <tr>
    <th>Tiles</th>
    <th>Objects</th>
    <th>Enemies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels_latest.each do |level| %>
  <tr>
    <td><%= level.tiles %></td>
    <td><%= level.objects %></td>
    <td><%= level.enemies %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>